name: CI-Build

on: 
  push:
    branches: ["main"]

jobs:
  build_project:
    runs-on: ubuntu-latest

    steps: 
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Set up JDK
       uses: actions/setup-java@v4
       with:
        java-version: '17'
        distribution: 'corretto'
        cache: 'maven'
          
     - name: Build e nao faz testes
       run: mvn clean package -DskipTests
        
